/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.container{width: 970px;}
.video-img img {
	width: 100%;
}
.blog-active .owl-nav div {
	left: 45%;
}
.blog-active .owl-nav div.owl-next {
	left: 50%;
}
.blog-area .blog-wrapper .blog-content p {
	margin: 5px 0;
}
.project-active .owl-nav div {
	left: 0px;
}
.project-active .owl-nav div.owl-next {
	right: 0px;
}

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.container{width: 750px;}
.feature-area .single-feature .feature-text p {
	display: none;
}
.feature-area .single-feature:hover .feature-text {
	text-align: center;
}
.feature-icon {
	margin-bottom: 20px;
}
.feature-area .single-feature .feature-text {
	transform: translateY(66%);
	text-align: center;
}
.col-6 {
	width: 100%;
}
.video-img{
    margin-bottom: 20px;
}
.video-img img {
	width: 100%;
}
.choice-list {
	padding-left: 0px;
}
.blog-active .owl-nav div {
	left: 30%;
}
.blog-active .owl-nav div.owl-next {
	left: 33%;
}
.footer-none{
    display: none;
}
.footer-col-4{
    width: 33.33%;
}
.project-active .owl-nav div {
	left: 0px;
}
.project-active .owl-nav div.owl-next {
	right: 0px;
}
.service-area .single-service .service-content {
	padding-left: 5px;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}