@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}

.fix {
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Header */


.header-area {
    border-top: 5px solid #4272d7;
    min-height: 120px;
}

.container {
    width: 1170px;
    margin: auto;
}

.logo {
    float: left;
    margin-top: 35px;
}

.main-menu {
    float: right;
}
.main-menu ul li {
    display: inline-block;
    margin-left: 40px;
    position:relative;
}

.main-menu ul li:nth-child(1) {
    margin-left: 0px;
}

.main-menu ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    text-decoration: none;
    padding: 50px 0px;
    display: block;
    transition: .3s;
}
.main-menu ul li:hover > a{
    color:#4272d7
}
.main-menu ul li ul.submenu {
    position: absolute;
    background: #171a21;
    width: 260px;
    top: 110%;
    left: 0;
    border-top: 5px solid #4272d7;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.main-menu ul li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li ul.submenu li {
    display: block;
    margin-left: 0;
    border-bottom: 2px solid #1e2128;
    
}
.main-menu ul li ul.submenu li:last-child{
    border-bottom: none;
}

.main-menu ul li ul.submenu li a {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 15px 20px;
    transition: .3s;
}
.main-menu ul li ul.submenu li:hover > a{
    background: #4272d7;
    /* border-bottom: 2px solid transparent; */
    padding-left: 30px;
}

.main-menu ul li ul.submenu li ul.submenu{
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition:.3s;

}
.main-menu ul li ul.submenu li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
}
.search-icon {
    float: right;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}

.search-icon:before{
    height: 15px;
    width: 2px;
    background: #ccc;
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
}
