@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
.fix {
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.col-12{
    width: 100%;
    padding: 0 15px;
    float: left;
}
.col-8{
    width: 66.66%;
    padding: 0 15px;
    float: left;
}
.col-6{
    width: 50%;
    padding: 0 15px;
    float: left;
}
.col-4{
    width: 33.33%;
    padding: 0 15px;
    float: left;
}
.col-3{
    width: 25%;
    padding: 0 15px;
    float: left;
}
.row {
    margin: 0 -15px;
}
.pt-70{
    padding-top: 70px;
}
.pb-70{
    padding-bottom: 70px;
}
.pt-180{
    padding-top: 180px;
}
.pb-180{
    padding-bottom: 180px;
}

.black-bg{
    background:#222;
}
.section-title{
    text-align: center;
    margin-bottom: 80px;
}

.section-title h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    color: #333;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.section-title h2:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 50px;
    height: 2px;
    background: #ccc;
    right: 0;
    margin: auto;
}
.section-title.white-text{
    margin-bottom: 30px;
}
.section-title.white-text h2{
    color:#fff;
}
.section-title.less-margin{
    margin-bottom: 40px;
}

/* Header */


.header-area {
    border-top: 5px solid #4272d7;
    min-height: 120px;
}

.container {
    width: 1170px;
    margin: auto;
}

.logo {
    float: left;
    margin-top: 35px;
}

.main-menu {
    float: right;
}
.main-menu ul li {
    display: inline-block;
    margin-left: 40px;
    position:relative;
}

.main-menu ul li:nth-child(1) {
    margin-left: 0px;
}

.main-menu ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    text-decoration: none;
    padding: 50px 0px;
    display: block;
    transition: .3s;
}
.main-menu ul li:hover > a{
    color:#4272d7
}
.main-menu ul li ul.submenu {
    position: absolute;
    background: #171a21;
    width: 260px;
    top: 110%;
    left: 0;
    border-top: 5px solid #4272d7;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 99;
}
.main-menu ul li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li ul.submenu li {
    display: block;
    margin-left: 0;
    border-bottom: 2px solid #1e2128;
    
}
.main-menu ul li ul.submenu li:last-child{
    border-bottom: none;
}

.main-menu ul li ul.submenu li a {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 15px 20px;
    transition: .3s;
}
.main-menu ul li ul.submenu li:hover > a{
    background: #4272d7;
    /* border-bottom: 2px solid transparent; */
    padding-left: 30px;
}

.main-menu ul li ul.submenu li ul.submenu{
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition:.3s;

}
.main-menu ul li ul.submenu li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
}
.search-icon {
    float: right;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}

.search-icon:before{
    height: 15px;
    width: 2px;
    background: #ccc;
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
}

/* slider area start here */
.slider-area{
    width: 100%;
}
.slider-area .single-slide {
    text-align: center;
    padding: 175px 0;
    background-size: cover;
    background-position: center center;
}
.slider-area .single-slide h4{
    font-size: 30px;
    color:#fff;
    font-weight: 400;
    text-transform: uppercase;
}
.slider-area .single-slide h2{
    font-size: 72px;
    color:#fff;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.slider-area .single-slide a {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    padding: 15px 40px;
    background: #4272d7;
    text-decoration: none;
    display: inline-block;
}

.slider-active .owl-nav div{
    background: #ccc;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50px;
    top: 50%;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
.slider-active .owl-nav div.owl-next {
    left: auto;
    right: 50px;
}
.slider-active .owl-dots {
    text-align: center;
    position: relative;
    z-index: 99;
    margin-top: -20px;
    bottom: 40px;
}
.slider-active .owl-dot {
    height: 10px;
    width: 10px;
    background: #ccc;
    display: inline-block;
    margin: 0 2px;
    border-radius: 50%;
}
.slider-active .owl-dot.active {
    background: #4272d7;
}
/* slider area end here */
/* Cta area start here */
.cta-area{
    background: #4272d7;
    padding: 30px 0;
}
.cta-area .cta-text p{
    font-size: 18px;
    color:#fff;
    font-weight: 600;
    
}
.cta-area .cta-text p span{
    font-size: 30px;
}
.cta-area .cta-button{
    float: right;
}
.cta-area .cta-button a {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #c0d0f2;
    padding: 20px 40px;
    display: inline-block;
    text-align: center;
}
/* Cta area end here */
/* feature area start here */
.feature-area{
    padding: 70px 0;
}
.feature-area .single-feature{
    position: relative;
}
.feature-area .single-feature .feature-text {
    position: absolute;
    left: 0;
    top: 0;
    background: #4272d7;
    bottom: 0;
    padding: 20px;
    transition: .3s;
    transform: translateY(78%);
}
.feature-area .single-feature:hover .feature-text{
    transform:translateY(0) ;
}

.feature-area .single-feature .feature-text .feature-icon i{
    font-size: 30px;
    color:#fff
}
.feature-area .single-feature .feature-text .feature-icon h3{
    font-size: 16px;
    color:#ffff;
    font-weight: 900;
    display: inline-block;
    margin-left: 20px;
}
.feature-area .single-feature .feature-text p{
    font-size: 15px;
    color:#e5e5e5;
    font-weight: 400;
    line-height: 25px;
    margin: 25px 0;
}
.feature-area .single-feature .feature-text .read-more a{
    font-size: 13px;
    color:#ffff;
    font-weight: 400;
}
.feature-area .single-feature .feature-text .read-more a i{
    font-size: 13px;
    color:#fff;
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    text-align: center;
    line-height: 18px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 5px;
}
/* feature area end here */

/* service area start here */
.service-area {
    background: #f0f0f0;
    padding-top: 70px;
    padding-bottom: 20px;
}
.service-area .single-service {
    display:flex;
    margin-bottom: 50px;
}
.service-area .single-service .service-icon i{
    font-size: 25px;
    color:#fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: #4272d7;
}
.service-area .single-service .service-content{
    padding-left: 15px;
}
.service-area .single-service .service-content h3{
    font-size: 16px;
    color: #555;
    font-weight: 600;
    margin-bottom: 10px;
}
.service-area .single-service .service-content p{
    font-size: 15px;
    color: #666;
    font-weight: 400;
    line-height: 25px;
}
/* service area end here */

/* project area start here */
.project-area .single-project{
    position:relative;
}
.project-area .single-project .project-img{
    position: relative;
}
.project-area .single-project .project-img:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    background: #507bd6;
    height: 100%;
    width: 100%;
    transition:.3s;
    opacity: 0;
}
.project-area .single-project:hover .project-img:before{
    opacity: 1;
} 
.project-area .single-project .project-img img{
width: 100%;
}

.project-area .single-project .project-content{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
.project-area .single-project:hover .project-content{
    opacity: 1;
    visibility: visible;
}
.project-area .single-project .project-content h4 a{
    font-size: 16px;
    font-weight: 800;
    color:#e5e5e5;
}
.project-area .single-project .project-content span{
    font-size: 13px;
    color:#ccc;
    font-weight: 400;
}
.project-active .owl-nav div{
    background: #ccc;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -20px;
    top: 50%;
    color: #fff;
    line-height: 40px;
    text-align: center;
    transform:translateY(-50%);
    transition: .3s;
}
.project-active .owl-nav div:hover{
    background: #507bd6;
}
.project-active .owl-nav div.owl-next {
    left: auto;
    right: -20px;
}
/* project area end here */

/* vidoe area start here */
.video-area .video{
    position:relative;
}
.video-area .video a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 25px;
}
.choice-list{
    margin-bottom: 30px;
    padding-left: 10px;
}
.choice-list:last-child{
    margin-bottom: 0;
}
.choice-list .choice-title{
    margin-bottom: 20px;
}
.choice-list .choice-title i{
    font-size: 18px;
    color: #555555;
}
.choice-list .choice-title h4{
    font-size: 16px;
    color: #555555;
    font-weight: 600;
    margin-left: 10px;
    display: inline-block;
}
/* working area start here */
.working-area{}
.working-area .working-content {
    text-align: center;
}
.working-area .working-content p{
    font-size: 20px;
    font-weight: 600;
    color:#555555;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.working-area .working-content a{
    font-size: 15px;
    color:#fff;
    font-weight: 600;
    padding: 20px 40px;
    text-align: center;
    background: #4272d7;
    display: inline-block;
}
/* working area end here */