
*{margin: 0; box-sizing: border-box;}
/* header area start here */

.fix {
    overflow: hidden;
}

.header-area {
    padding:10px 0;
}

.container {
    width: 1000px;
    margin: auto;
}

.logo {
    float: left;
}

.menu {
    float: right
}

.menu ul {
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-left:10px;
    background: #000;
}
.menu ul li:last-child {
    margin-left:10px;
    background: olivedrab;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    display: block;
}

/* header area end here */

/* slider area start here */
.slider-area img{
    width: 100%;
}

.content-area{
    padding: 70px 0;
}

.content-area .text{
    width:50%;
    float:left;
}
.content-menu{
    width: 50%;
    float: right;
    padding-left: 15px;
}
.content-menu ul{
    list-style: none;
    padding: 0;
}
.content-menu ul li{
    border-bottom: 1px solid #000;

    transition: .3s;
}
.content-menu ul li:last-child{
    border-bottom: none;
}
.content-menu ul li:hover{
    border-bottom: 1px solid #df1b1b;
}
.content-menu ul li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color :#000;
    font-size: 20px;
    transition: .5s;

}
.content-menu ul li a:hover{
color : red;
background: #000;
padding-left: 20px;

}
.gallery .img{width: 33.33%;float: left;line-height: 0;}
.gallery .img img{
    width:100%;
}
footer{padding: 30px 0;}
footer p{
    text-align: center;
    font-size: 25px;
    color: #000;
}