.menu {
    background-color: #000;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu ul li {
    display: inline-block;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.demo .test {
    width: 33.3%;
    float: left;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.demo .test:nth-child(2) {
    background-color: aqua;
}

.demo .test:nth-child(1) {
    background-color: rgb(0, 255, 85);
}

.demo .test:nth-child(3) {
    background-color: rgb(217, 255, 0);
}

.demo .test h3 {
    margin: 0px;
}
.image img{
    width:100%
}